<?xml version="1.0" encoding="UTF-8"?>
<web-app id="todaysoft" version="2.5"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">

	<display-name>Archetype Created Web Application</display-name>

	<context-param>
		<param-name>spring.profiles.default</param-name>
		<param-value>all</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		classpath*:spring/applicationContext.xml
		</param-value>
	</context-param>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>webapp.root</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.util.WebAppRootListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<context-param>
		<param-name>IgnoreUrl</param-name>
		<param-value>
			/login,
			/logout,
			/404,
			/error
		</param-value>
	</context-param>

	<!-- start of static file handle -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.gif</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.jpg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.png</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.ico</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.swf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.mp3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>AppContextFilter</filter-name>
		<filter-class> com.yy.zbase.common.web.filter.AppContextFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AppContextFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ExceptionFilter</filter-name>
		<filter-class> com.yy.zbase.admin.common.web.filter.ExceptionFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ExceptionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- start of rest style handle -->
	<servlet>
		<servlet-name>springServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>/index</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>1200</session-timeout>
	</session-config>
</web-app>
